@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 5vh;
}

#container {
  max-width: 450px;
  margin: auto;
  text-align: center;
}
#container h1, #container h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-shadow: 0px 1px 1px black;
  -moz-text-shadow: 0px 1px 1px black;
  text-shadow: 0px 1px 1px black;
}
#container h2 {
  font-weight: 400;
  text-transform: none;
  font-size: 20px;
  clear: both;
  margin-top: 6vh;
}
#container section {
  margin-top: 20vh;
}
#container section i {
  color: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#container section i:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#container section ul {
  padding: 0;
  margin: auto;
}
#container section ul li {
  display: inline;
  list-style-type: none;
  padding: 0 10px;
}
#container section ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-text-shadow: 0px 1px 1px black;
  -moz-text-shadow: 0px 1px 1px black;
  text-shadow: 0px 1px 1px black;
}
#container section ul li a:hover {
  text-decoration: underline;
}
