@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
@import 'mixins_partial';

$font: 'Open Sans', sans-serif;
$normal: 400;
$light: 300;
$bold: 800;
$shadow: 0px 1px 1px rgba(0, 0, 0, 1);

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 5vh;
}

#container {
  max-width: 450px;
  margin: auto;
  text-align: center;

  h1 {
    font-family: $font;
    font-weight: $bold;
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
    @include text-shadow($shadow);
  }

  h2 {
    @extend h1;
    font-weight: $normal;
    text-transform: none;
    font-size: 20px;
    clear: both;
    margin-top: 6vh;
  }

  section {
    margin-top: 20vh;

    i {
      color: #fff;
      @include opacity(0.5);
    }

    i:hover {
      @include opacity(1);
    }

    ul {
      padding: 0;
      margin: auto;
      li {
        display: inline;
        list-style-type: none;
        padding: 0 10px;
        a {
          font-family: $font;
          font-size: 14px;
          font-weight: $light;
          color: #fff;
          text-decoration: none;
          @include text-shadow($shadow);
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

}
